.button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.15rem;
  font-weight: 500;
  line-height: 1.4em;
  white-space: nowrap;
  background-color: rgb(80, 175, 234);
  border-radius: 5px;
  border: 0.1rem solid transparent;
  // outline: none;
  transition: background-color 0.2s, color 0.2s;

  &:hover {
    transition: background-color 0.2s, color 0.2s;
    background-color: rgb(122, 188, 229);
  }
}
